@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
@import url('/css/utils.css');
/*Temel Ayarlar Başlangıç*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    background: #fff;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    color: #333;
    text-decoration: none;
}

h1,h2 {
    font-weight: 700;
    line-height: 1.2;
}

p {
    margin: 1rem 0;
}

img {
    width: 100%;
}

.text-center {
    text-align: center;
}
/*Temel Ayarlar Son*/

/* NAVIGATION MENU */

.main-header .navbar {
    display: flex;
    width: 100%;
    height: 6.5rem;
    justify-content: space-between;
    background-color: var(--dark);
    opacity: 0.8;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    z-index: 9;
    padding: 0 4rem;
}

.main-header .navbar .brand {
    font-family: 'Oswald', sans-serif; 
    font-weight: 700;
    padding: 10px;
}

.main-header .navbar .navigation {
    display: flex;
    font-size: 20px;
    flex-wrap: wrap;
}

.main-header .navbar .navigation .navigation__item a{
    display: block;
    padding: 15px;
}

.main-header .navbar .navigation .navigation__item a:hover{
    border-bottom: 2px solid var(--warning);
}
/* NAVIGATION MENU END */

/* SLIDER START */

.slider {
    position: relative;
    height: 100vh;
    background-image: url('/img/bg-1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}    

.slider .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

/* SLIDER END */

/* ICON BOX START */

.main-icon {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
    font-size: 20px;
}

.icons {
    padding: 30px;
}

.icon-box p{
    padding: 0 35px;
}

.icon-box i{
    font-size: 35px;
    background-color: var(--primary);
    color: var(--white);
    padding: 10px;
    border-radius: 50%;
}

.icon-box:nth-child(2) i{
    width: 55px;
    height: 55px;
}

/* ICON BOX END */

/* ABOUT START */

#about {
    color: #fff;
}

#about h2 {
    font-size: 4rem;
    font-weight: 400;
}

#about p {
    margin: 3rem 0;
}

.about {
    color: #fff;
}

.about h2 {
    font-size: 4rem;
    font-weight: 400;
}

.about p {
    margin: 3rem 0;
}
/* ABOUT END */

/* GALLERY START */

.gallery img:hover {
    opacity: 0.8;
    cursor: pointer;
}

/* GALLERY END*/

/* CARD */

.card {
    color: #fff;
    font-weight: 400;
    margin: 0 2rem;
}

.card-body {
    padding: 2rem;
}

/* CARD END */

/* TEAMS CARD START */

.teams .card .teams-card-body {
    color: var(--dark);
}

.teams .card img {
    border-radius: 50%;
    object-fit: cover;
}

.teams .card img:hover {
    opacity: 0.7;
}

/* TEAMS CARD END */

/* CONTACT START */

.contact-form{
    width: 100%;
    padding: 2rem 0;
}

.contact-form label {
    display: block;
    margin-bottom: .5rem;
}

.contact-form .form-control{
    margin-bottom: 1.5rem;
}

.contact-form input {
    width: 100%;
    padding: 5px;
    height: 40px;
    border: 1px solid #f5f5f5;
}

.contact-form .btn-primary {
    width: 100%;
}

.contact h2 {
    font-size: 40px;
}

/* CONTACT END */

/* FOOTER START */
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
}

.footer .social a:hover{
    color: var(--warning);
}

.footer .social a:active{
    color: var(--dark);
}

/* FOOTER END */


/**********************************************************/

/* BLOG PAGE CSS */

.slider-blog {
    position: relative;
    height: 40vh;
    background-image: url('/img/bg-2.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}    

.slider-blog .caption-blog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
    text-align: center;
}

.slider-blog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.articles {
    padding: 3rem 5rem;
}

.article {
    margin-top: 2rem;
}




/* RESPONSIVE DESIGN FOR MOBILE */

@media (max-width: 768px) {
    html {
        font-size: 8px;
    }

    .main-header .navbar {
        display: block;
        text-align: center;
        height: 140px;
        padding: 20px;
        width: 100%;
    }

    .main-header .navbar  .navigation{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .main-header .navbar a {
        padding: 10px;
        margin: 0 3px;
        font-size: 14px;
    }

    #teams img {
        width: 70%;
    }

    .main-header .slider .caption {
        font-size: 20px;
    }
}